@model CreateRoleModel

@{
    ViewData["Title"] = "Create Role Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col text-center">
            <h1>Create Role Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>